.img-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.img-list-container img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.img-list-container img:hover {
  opacity: 0.7;
  cursor: pointer;
}
