.progress-bar {
  border: 1px solid black;
  margin: 20px 0;
  height: 40px;
  border-radius: 10px;
}

.progress-bar div {
  background-color: green;
  padding-top: 10px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  color: white;
  transition: 0.5s;
}
