.file-dropper {
  border: 1px dashed black;
  height: 200px;
  background-color: aqua;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.file-dropper:hover {
  background-color: gray;
  transition: 0.5s;
}

.file-dropper input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.image-priview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.image-preview {
  width: 30%;
  max-height: 190px;
  opacity: 1;
  margin-top: 0.5rem;
  display: block;
  border-radius: 10px;
  border: 5px solid grey;
  transition: 0.5s;
  object-fit: cover;
}

.hidden {
  width: 0%;
  opacity: 0;
}

button {
  width: 100%;
  border-radius: 3px;
  height: 40px;
  cursor: pointer;
}
